body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
p{
  line-height: 2;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.65rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin-top: 20px auto 50px auto;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
hr {
  width: 5%;
  border: dotted #eaf6f6 6px;
  border-bottom: 0;
  margin: 100px auto;
}

a:link {
  text-decoration:none;
  color:#FFFFFF;
}
a:hover {
  font-size: 110%;
}
a:visited {
  color: #FFFFFF;
}
.intro {
  padding: 20px;
  width: 45%;
  margin: 20px auto 50px auto;
}

.accent {
  font-weight: bold;
}



.top-container {
  background-color: #c3edea;
}
.profile {
  margin-top: 50px;
}

.profile-pic {
  width: 12.5%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.marketing-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.budget-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px 0;
}

.footer-link {
  font-family: 'Montserrat', sans-serif;
  margin: 10px 30px;
}

.contact-me {
  margin-bottom: 50px;
}
.button {
  margin-top:20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: "montserrat",sans-serif;
  font-size: 1rem;
  font-weight: 100;
  padding: 10px;
  background-color: #11999E;
  background-image: -webkit-linear-gradient(top, #11999E, #31BBC0);
   background-image: -moz-linear-gradient(top, #11999E, #31BBC0);
   background-image: -ms-linear-gradient(top, #11999E, #31BBC0);
   background-image: -o-linear-gradient(top, #11999E, #31BBC0);
   background-image: linear-gradient(to bottom, #11999E, #31BBC0);
  box-shadow: 0px 1px 7px 0px #000000;
  -webkit-box-shadow: 0px 1px 7px 0px #000000;
  -moz-box-shadow: 0px 1px 7px 0px #000000;
  border: solid #11999E 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.button:hover{
  background-color: #31bbc0;
  background-image: -webkit-linear-gradient(top, #31bbc0, #11999E);
   background-image: -moz-linear-gradient(top, #31BBC0, #11999E);
   background-image: -ms-linear-gradient(top, #31BBC0, #11999E);
   background-image: -o-linear-gradient(top, #31BBC0, #11999E);
   background-image: linear-gradient(to bottom, #31BBC0, #11999E);
color:#ffffff;
}


.copyright {
  color: #EAF6F6;
  font-size: 0.75em;
  padding: 20px 0;
}

.icon-author {
  font-size: 10px;
  color:#c3edea;
}
.upper-cloud {
  position: relative;
  left: 260px;
  margin-top: 10px;
}
.bottom-cloud {
  position: absolute;
  left:5%;
}
